.create-product {
  position: relative;
}
.create-product form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
  background-color: var(--bodyWhite);
  border-radius: 20px;
  box-shadow: var(--boxShadow);
}
.create-product form .error {
  color: var(--redColor);
  background-color: transparent;
  text-transform: lowercase;
  width: fit-content;
  margin: auto;
  padding: 0;
}
.create-product form .col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.create-product form .col-1 .input-box label {
  display: flex;
  align-items: center;
}
.create-product form .col-1 .input-box label span {
  width: 100px;
  color: var(--textSecondColor);
  font-weight: bold;
}
.create-product form .col-1 .input-box label input,
.create-product form .col-1 .input-box label textarea {
  flex: 1;
  padding: 7px 10px;
  background-color: var(--bodyColor);
  border: none;
  transition: all 0.3s;
  border-radius: 5px;
  border: var(--border);
}
.create-product form .col-1 .input-box label input:focus,
.create-product form .col-1 .input-box label textarea:focus {
  outline: none;
  padding-left: 13px;
}
.create-product form .col-1 .input-box label input:focus::placeholder,
.create-product form .col-1 .input-box label textarea:focus::placeholder {
  transition: all 0.3s;
  color: transparent;
}
.create-product form .col-1 .input-box label textarea {
  resize: none;
  height: 150px;
}
.create-product form .col-1 button.submit {
  background: var(--redColor);
  width: 100%;
  color: var(--textColor);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
}
.create-product form .col-1 button.submit:hover {
  opacity: 1;
}
.create-product form .col-2 {
  width: 30%;
  text-align: center;
}
.create-product form .col-2 input {
  display: none;
}
.create-product form .col-2 .img-error {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.create-product form .col-2 .img-error .camera {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  color: var(--redColor);
  top: -12px;
  cursor: pointer;
}
.create-product form .col-2 .img-error img {
  width: 200px;
  height: 200px;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #c0c0c0;
  object-fit: contain;
  margin: auto;
}

@media (max-width: 767px) {
  .create-product form {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
    flex-direction: column-reverse;
  }
  .create-product form .col-1 {
    width: 90%;
  }
  .create-product form .col-2 {
    width: 90%;
  }
}