.single-product {
	grid-area: main;
	margin: 20px auto;

	.title {
		margin-bottom: 10px;
		text-transform: capitalize;
		text-align: center;
		color: var(--textSecondColor);
		font-weight: bold;
		font-size: 30px;
	}

	.main-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		margin-bottom: 20px;

		.image {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 300px;
				height: 300px;
				max-width: 100%;
				margin: auto;
				border-radius: 50%;
				object-fit: contain;
				box-shadow: var(--boxShadowStrong);
			}
		}

		.product-information {
			flex: 1;
			margin: auto;

			.desc {
				padding: 10px;
			}
			.product-info-box {
				border: var(--border);
				background-color: var(--bodyWhite);
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;

				> div {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 10px;
					font-weight: bold;
					&:not(:last-child) {
						border-bottom: var(--border);
					}
					span {
						color: var(--mainColor);
					}
				}

				.sizes,
				.colors {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.items {
						display: flex;
						align-items: stretch;
						flex-wrap: wrap;
						gap: 5px;
						span {
							border: var(--border);
							// padding: 10px;
							width: 32px;
							height: 32px;
							color: var(--mainColor);
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
				}
			}
		}
		.modal-options {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			overflow: hidden;
			.add {
				background-color: var(--redColor);
				width: 100%;
				border: none;
				padding: 10px;
				font-size: 17px;
				color: var(--textColor);
				transition: all 0.3s;
				&:hover {
					filter: brightness(1.1);
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.single-product {
		.main-content {
			flex-direction: column;
			.product-information {
				width: 100%;
			}
		}
	}
}
