.checkout-form {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  background-color: #c0c0c0;
  transition: all 0.3s;
}
.checkout-form .close-icon {
  display: block;
  float: right;
  border: 1px solid #333;
  padding: 7px 10px;
  cursor: pointer;
  font-size: 20px;
}
.checkout-form .close-icon:hover span {
  transition: all 0.3s;
  display: block;
  transform: scale(2);
  color: #333;
}
.checkout-form form {
  margin-right: 50px;
}
.checkout-form form > div {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px auto;
}
.checkout-form form > div label {
  margin-bottom: 4px;
}
.checkout-form form > div input {
  padding: 10px;
}
.checkout-form form > div input:focus {
  outline: none;
}
.checkout-form form > div button {
  background-color: #333;
  border: none;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  margin-right: 3px;
  cursor: pointer;
}
.checkout-form form > div button:active {
  transform: scale(0.99);
}