header {
  grid-area: header;
  background-color: #2a5ea5;
  color: #fff;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .container > p {
  font-size: 20px;
  text-transform: uppercase;
}
header .container nav ul {
  display: flex;
  list-style: none;
}
header .container nav ul a {
  display: block;
  text-decoration: none;
  margin-left: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}
header .container nav ul .active {
  position: relative;
  color: #e2d784;
}
header .container nav ul .active::after {
  content: "";
  position: absolute;
  bottom: -9px;
  border: 10px solid;
  border-color: transparent transparent white transparent;
  left: 50%;
  transform: translateX(-50%);
}