header {
  grid-area: header;
  background: #fafafa;
  color: #333;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .container > a {
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
}
header .container > a h1 {
  font-family: "operator mono";
  display: flex;
  align-items: center;
  gap: 10px;
}
header .container > a h1 svg {
  color: orangered;
}
header .container nav ul.main-list {
  display: flex;
  position: relative;
  list-style: none;
}
header .container nav ul.main-list li {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}
header .container nav ul.main-list li a {
  font-weight: bold;
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  padding: 15px;
}
header .container nav ul.main-list li a.logout, header .container nav ul.main-list li a.signup {
  background-color: orangered;
  border-radius: 25px;
  color: #fafafa;
  opacity: 0.8;
  transition: 0.3s;
}
header .container nav ul.main-list li a.logout:hover, header .container nav ul.main-list li a.signup:hover {
  opacity: 1;
}
header .container nav ul.main-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: orangered;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}
header .container nav ul.main-list li:hover::after {
  width: 100%;
  opacity: 0.7;
}
header .container nav ul.main-list .active {
  position: relative;
  color: #333;
  border: 1px solid orangered;
}