* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'cascadia code';
}

/* Container Style */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.layout {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 60px 1fr 60px;
}

main {
    grid-area: main;
    display: flex;
    margin: 20px auto;
}

@media (max-width: 767px) {
    main {
        flex-direction: column-reverse;
    }
}