main .home {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  main .search {
    width: 85%;
    padding: 10px;
  }
  main .search .box {
    padding: 5px;
  }
}
@media (max-width: 767px) {
  .product-modal {
    width: 80%;
  }
  .product-modal .main-content {
    justify-content: center;
    gap: 10px;
  }
  .product-modal .main-content .product-info {
    flex-direction: column;
  }
  .product-modal .main-content .product-info img {
    width: 100px;
    height: 100px;
  }
  .product-modal .main-content .modal-options {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
}