.orders {
  margin: 20px auto;
}
.orders .no-orders-msg {
  text-align: center;
  color: #333;
}
.orders .alert-delete-msg {
  border: 1px solid #c0c0c0;
  color: green;
  padding: 10px;
  width: fit-content;
  margin: 10px auto 20px;
}
.orders table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 2px 2px 5px #333;
}
.orders table td,
.orders table th {
  width: fit-content;
}
.orders table thead {
  background-color: #333;
  color: #fff;
}
.orders table thead th {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}
.orders table tbody tr {
  padding: 10px;
}
.orders table tbody tr:nth-child(odd) {
  background-color: #dbdbdb6c;
}
.orders table tbody tr td {
  padding: 5px;
}
.orders table tbody tr td.details {
  width: 500px;
}
.orders table tbody tr td.details span {
  display: flex;
  flex-wrap: wrap;
}
.orders table tbody tr td.details span div {
  width: fit-content;
  display: inline-flex;
  border: 1px solid #c0c0c0;
  color: #333;
  box-shadow: 2px 2px 5px #c0c0c0;
  margin: 2px;
  padding: 10px;
  text-align: center;
}
.orders table tbody tr td:last-child {
  width: 100px;
}
.orders table tbody tr td:last-child button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.orders table tbody tr td:last-child button:hover {
  transform: scale(1.05);
  color: red;
}