.orders {
  margin: 20px auto;
}
.orders .no-orders-msg {
  text-align: center;
  color: #2a5ea5;
}
.orders table {
  width: 100%;
  border-collapse: collapse;
}
.orders table thead {
  background-color: #2a5ea5;
  color: #fff;
}
.orders table thead th {
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}
.orders table tbody tr:nth-child(odd) {
  background-color: #c0c0c06c;
}
.orders table tbody tr td {
  padding: 5px;
}
.orders table tbody tr td:first-child {
  text-align: center;
}
.orders table tbody tr td.details {
  display: flex;
  flex-wrap: wrap;
}
.orders table tbody tr td.details span {
  display: inline-block;
  background-color: #008E89;
  color: white;
  margin: 2px;
  padding: 4px;
  border-radius: 6px;
  text-align: center;
}
.orders table tbody tr td:last-child {
  width: 100px;
}
.orders table tbody tr td:last-child button {
  text-align: center;
  width: 100%;
  background-color: transparent;
  border: none;
  color: red;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.orders table tbody tr td:last-child button:hover {
  transform: scale(1.1);
}