.login {
  grid-area: main;
  color: #333;
  user-select: none;
  margin: 10px 0;
}
.login form.login-content {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--boxes-bg);
  box-shadow: var(--boxShadow);
  border: var(--boxes-border);
}
.login form.login-content .go-sign-up {
  display: block;
  color: var(--mainColor);
  margin-bottom: 20px;
}
.login form.login-content .login-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login form.login-content .login-box .input-feild {
  display: flex;
  align-items: center;
  background-color: var(--body-color);
  box-shadow: var(--boxShadow);
}
.login form.login-content .login-box .input-feild input.name-input,
.login form.login-content .login-box .input-feild input.pass-input {
  width: 100%;
  display: block;
  padding: 10px;
  margin: auto;
  border: none;
  background-color: transparent;
  color: #000;
  caret-color: var(--mainColor);
  font-size: 16px;
  transition: 0.3s;
  border-left: 1px solid #afafaf;
}
.login form.login-content .login-box .input-feild input.name-input::placeholder,
.login form.login-content .login-box .input-feild input.pass-input::placeholder {
  color: #afafaf;
}
.login form.login-content .login-box .input-feild input.name-input:focus,
.login form.login-content .login-box .input-feild input.pass-input:focus {
  outline: none;
  padding-left: 15px;
}
.login form.login-content .login-box .input-feild input.name-input:focus::placeholder,
.login form.login-content .login-box .input-feild input.pass-input:focus::placeholder {
  color: transparent;
}
.login form.login-content .login-box .input-feild span.icon {
  display: block;
  padding: 10px;
}
.login form.login-content .login-box .input-feild span.icon svg {
  color: var(--second-color);
}
.login form.login-content .login-box .input-feild span.eye {
  padding: 10px;
}
.login form.login-content .login-box .input-feild span.eye svg:last-child {
  color: var(--second-color);
  size: 2em;
}
.login form.login-content .login-box button {
  display: block;
  margin: 10px auto;
  background: var(--second-color);
  color: var(--main-text-color);
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
}
.login form.login-content .login-box button:hover {
  opacity: 1;
}
.login form.login-content .login-box button:active {
  transform: scale(0.95);
}
.login form.login-content .login-box .or-option {
  border-radius: 50%;
  background-color: var(--second-color);
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 50px auto 20px;
  position: relative;
}
.login form.login-content .login-box .or-option::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  right: -120px;
  background-color: var(--second-color);
}
.login form.login-content .login-box .or-option::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  left: -120px;
  background-color: var(--second-color);
}
.login form.login-content .login-box ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.login form.login-content .login-box ul li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login form.login-content .login-box ul li:first-child {
  background-color: #4267b2;
}
.login form.login-content .login-box ul li:last-child {
  background-color: #ea4335;
}
.login form.login-content .login-box ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}