$mainColor: #2a5ea5;

.orders {
  margin: 20px auto;

  .no-orders-msg {
    text-align: center;
    color: $mainColor;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    // border: 1px solid #c0c0c0;
    thead {
      background-color: $mainColor;
      color: #fff;
      th {
        text-align: left;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px;
      }
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: #c0c0c06c;
        }
        td {
          padding: 5px;

          &:first-child {
            text-align: center;
          }
          &.details {
            display: flex;
            flex-wrap: wrap;
            span {
              display: inline-block;
              background-color: #008E89;
              color: white;
              margin: 2px;
              padding: 4px;
              border-radius: 6px;
              text-align: center;
            }
          }
          &:last-child {
            width: 100px;
            button {
              text-align: center;
              width: 100%;
              background-color: transparent;
              border: none;
              color: red;
              padding: 10px;
              font-size: 50px;
              font-weight: bold;
              cursor: pointer;
              transition: .3s;
              &:hover{
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}
