.search {
	width: 70%;
	margin: auto;
	padding: 20px;
	background-color: var(--bodyWhite);
	border-radius: 40px;
	box-shadow: var(--boxShadow);
	.box {
		display: flex;
		align-items: stretch;
		overflow: hidden;
		background-color: var(--bodyColor);
		padding: 10px;
		border-radius: 20px;

		span {
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			border-right: var(--border);
			padding: 0 10px;
			background-color: transparent;
			color: var(--redColor);
		}
		input {
			padding: 5px;
			border: none;
			background-color: transparent;
			width: 100%;
			&:focus {
				outline: none;
				padding-left: 7px;
				&::placeholder {
					transition: all 0.3s;
					color: transparent;
				}
			}
		}
	}
}
