.orders {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: width 0.3s;
}
.orders .heading {
  display: flex;
  margin-bottom: 20px;
  color: var(--textSecondColor);
  font-size: 20px;
}
.orders .heading .head-item {
  width: 25%;
  padding: var(--padding) 20px;
  text-align: center;
}
.orders .order-information .main-order {
  display: flex;
  align-items: stretch;
  background-color: var(--bodyWhite);
  box-shadow: var(--boxShadow);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.orders .order-information .main-order > div {
  color: var(--textSecondColor);
  width: 25%;
  padding: 20px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.orders .order-information .main-order > div:not(:last-child) {
  border-right: 1px solid var(--bkRed);
}
.orders .order-information .main-order > div.edit-arrow svg {
  color: var(--redColor);
  transition: all 0.3s;
  transform: rotate(90deg);
}
.orders .order-information .main-order > div svg {
  font-size: 20px;
  transition: all 0.3s;
}
.orders .order-information .main-order > div.show-more, .orders .order-information .main-order > div.delete {
  cursor: pointer;
}
.orders .order-information .main-order > div.show-more:hover svg, .orders .order-information .main-order > div.delete:hover svg {
  fill: var(--redColor);
}
.orders .order-information .order-details {
  transition: height 0.4s, opacity 0.4s;
  height: 0;
  opacity: 0;
  overflow: hidden;
  margin-bottom: 10px;
}
.orders .order-information .order-details.show {
  opacity: 1;
  background-color: var(--bodyWhite);
  box-shadow: var(--boxShadow);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.orders .order-information .order-details .order-items {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.orders .order-information .order-details .order-items .order-item {
  background: var(--bodyColor);
  box-shadow: var(--boxShadow);
  padding: 5px;
  display: flex;
  align-items: center;
}
.orders .order-information .order-details .order-items .order-item > div {
  width: 25%;
  text-align: center;
}
.orders .order-information .order-details .order-items .order-item .img-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.orders .order-information .order-details .order-items .order-item .delete span {
  width: 40px;
  height: 40px;
  border: var(--border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
.orders .order-information .order-details .order-items .order-item .delete span svg {
  opacity: 0;
  font-size: 40px;
}
.orders .order-information .order-details .order-items .order-item .delete span:hover svg {
  transition: all 0.3s;
  opacity: 1;
}
.orders .order-information .order-details .order-items .order-item .quantity span {
  border: 1px solid var(--redColor);
  padding: 3px 5px;
}
.orders .no-orders-msg {
  text-align: center;
  color: var(--mainColor);
}

@media (max-width: 767px) {
  .orders {
    width: 100%;
  }
  .orders .heading {
    font-size: 14px;
  }
  .orders .order-information .main-order > div {
    font-size: 15px;
  }
  .orders .order-information .main-order > div svg {
    font-size: 17px;
  }
  .orders .order-information .order-details .order-items .order-item .img-item img {
    width: 30px;
    height: 30px;
  }
}