.orders {
  grid-area: main;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: width 0.3s;
}
.orders .heading {
  display: flex;
  margin-bottom: 20px;
  color: var(--second-text-color);
  font-size: 20px;
}
.orders .heading .head-item {
  width: 25%;
  padding: var(--main-padding) 20px;
  text-align: center;
}
.orders .order-information {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: var(--boxes-bg);
  box-shadow: var(--boxShadow);
  border-radius: 50px;
  margin-bottom: 10px;
}
.orders .order-information > div {
  color: var(--second-text-color);
  width: 25%;
  padding: 15px 20px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.orders .order-information > div svg {
  font-size: 20px;
  transition: all 0.3s;
}
.orders .order-information > div.show-more, .orders .order-information > div.delete {
  width: fit-content;
  padding: 10px;
  margin: auto;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.orders .order-information > div.show-more svg, .orders .order-information > div.delete svg {
  font-size: 20px;
  color: var(--second-text-color);
  transition: 0.3s;
}
.orders .order-information > div.show-more:hover, .orders .order-information > div.delete:hover {
  background-color: var(--hover-bg);
}
.orders .order-information > div.show-more:hover svg, .orders .order-information > div.delete:hover svg {
  color: var(--second-color);
}
.orders .order-information > div.edit-arrow svg {
  color: var(--second-color);
  transition: all 0.3s;
  transform: rotate(90deg);
}
.orders .order-information > div.image {
  display: block;
  text-align: center;
}
.orders .order-information > div.image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .orders {
    width: 100%;
  }
  .orders .heading {
    font-size: 14px;
  }
  .orders .order-information .main-order > div {
    font-size: 15px;
  }
  .orders .order-information .main-order > div svg {
    font-size: 17px;
  }
  .orders .order-information .order-details .order-items .order-item .img-item img {
    width: 30px;
    height: 30px;
  }
}