.orders {
  margin: 20px auto;
}
.orders .no-orders-msg {
  text-align: center;
  color: var(--mainColor);
}
.orders .alert-delete-msg {
  border: 1px solid #c0c0c0;
  color: green;
  padding: 10px;
  width: fit-content;
  margin: 10px auto 20px;
}
.orders table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 2px 2px 5px #333;
  overflow: scroll;
}
.orders table thead {
  background-color: var(--mainColor);
  color: #fff;
}
.orders table thead th {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}
.orders table tbody {
  width: 100%;
}
.orders table tbody tr {
  width: 100%;
  padding: 10px;
}
.orders table tbody tr:nth-child(odd) {
  background-color: #e2e2e26c;
}
.orders table tbody tr td {
  text-align: left;
  padding: 5px;
}
.orders table tbody tr td.number-order {
  text-align: center;
  font-size: 20px;
}
.orders table tbody tr td.details {
  width: 500px;
}
.orders table tbody tr td.details span {
  display: flex;
  flex-wrap: wrap;
}
.orders table tbody tr td.details span div {
  width: fit-content;
  display: flex;
  border: 1px solid #c0c0c0;
  color: #333;
  box-shadow: 2px 2px 5px #c0c0c0;
  margin: 2px;
  padding: 10px;
  text-align: center;
}
.orders table tbody tr td.show-more-order, .orders table tbody tr td.price, .orders table tbody tr td.delete-order {
  text-align: center;
  width: 200px;
}
.orders table tbody tr td.show-more-order button, .orders table tbody tr td.price button, .orders table tbody tr td.delete-order button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--mainColor);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.orders table tbody tr td.show-more-order button:focus, .orders table tbody tr td.price button:focus, .orders table tbody tr td.delete-order button:focus {
  transform: scale(0.91);
}
.orders table tbody tr td.show-more-order button:hover {
  transform: scale(1.05);
  color: #313191;
}
.orders table tbody tr td.edit-order button:hover {
  transform: scale(1.05);
  color: #06cc06;
}
.orders table tbody tr td.delete-order button:hover {
  transform: scale(1.05);
  color: red;
}

.order-show-more-modal {
  position: relative;
  background-color: white;
  z-index: 1111;
  width: 80%;
  border: 2px solid var(--mainColor);
  margin: 20px auto;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .order-show-more-modal {
    width: 99%;
  }
}
.order-show-more-modal .order-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.order-show-more-modal .order-information .product-item {
  width: 150px;
  text-align: center;
  border: 1px solid #c0c0c0;
}
.order-show-more-modal .order-information .product-item img {
  width: 100px;
}