main {
	grid-area: main;
	padding: 10px 0;
	.home {
		display: flex;
		flex-direction: column;
	}
	.search {
		width: 70%;
		margin: auto;
		padding: 20px;
		background-color: var(--bodyWhite);
		border-radius: 40px;
		box-shadow: var(--boxShadow);
		.box {
			display: flex;
			align-items: stretch;
			overflow: hidden;
			background-color: var(--bodyColor);
			padding: 10px;
			border-radius: 20px;

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				border: none;
				border-right: var(--border);
				padding: 0 10px;
				background-color: transparent;
				color: var(--redColor);
			}
			input {
				padding: 5px;
				border: none;
				background-color: transparent;
				width: 100%;
				&:focus {
					outline: none;
					padding-left: 7px;
					&::placeholder {
						transition: all 0.3s;
						color: transparent;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	main {
		.search {
			width: 85%;
			padding: 10px;
			.box {
				padding: 5px;
			}
		}
	}
}

@media (max-width: 767px) {
	.product-modal {
		width: 80%;
		.main-content {
			justify-content: center;
			gap: 10px;
			.product-info {
				flex-direction: column;
				img {
					width: 100px;
					height: 100px;
				}
			}
			.modal-options {
				flex-direction: column;
				justify-content: center;
				gap: 5px;
			}
		}
	}
}
