.sign {
  position: relative;
  user-select: none;
}
.sign form.sign-content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
}
.sign form.sign-content .sign-box {
  width: 500px;
}
.sign form.sign-content .sign-box .personal-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.sign form.sign-content .sign-box .personal-info input {
  width: 50%;
}
.sign form.sign-content .sign-box > input {
  display: block;
  width: 100%;
}
.sign form.sign-content .sign-box input {
  box-shadow: 2px 2px 5px #c0c0c0;
  background-color: transparent;
  color: #000;
  caret-color: #333;
  font-size: 16px;
  transition: 0.3s;
  border: 1px solid #afafaf;
  border-radius: 5px;
  padding: 10px;
}
.sign form.sign-content .sign-box input::placeholder {
  color: #afafaf;
}
.sign form.sign-content .sign-box input:focus {
  outline: none;
  padding-left: 15px;
}
.sign form.sign-content .sign-box input:focus::placeholder {
  color: transparent;
}
.sign form.sign-content .sign-box label {
  color: #333;
  font-weight: bold;
  display: block;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;
}
.sign form.sign-content .sign-box button {
  background: #333;
  width: 50%;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
}
.sign form.sign-content .sign-box button:hover {
  opacity: 1;
}
.sign form.sign-content .sign-box button:active {
  transform: scale(0.95);
}
.sign form.sign-content .or-option {
  color: #fff;
  position: relative;
}
.sign form.sign-content .or-option span {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #333;
  border-radius: 50%;
  font-weight: bold;
}
.sign form.sign-content .or-option span::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 120px;
  top: 30px;
  background-color: #333;
}
.sign form.sign-content .or-option span::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 120px;
  bottom: 30px;
  background-color: #333;
}
.sign form.sign-content .social div {
  margin-bottom: 20px;
}
.sign form.sign-content .social ul {
  list-style: none;
}
.sign form.sign-content .social ul li {
  width: 300px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.sign form.sign-content .social ul li:first-child {
  background-color: #4267b2;
}
.sign form.sign-content .social ul li:last-child {
  background: #ff3d00;
}
.sign form.sign-content .social ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign form.sign-content .social ul li a i {
  margin-right: 30px;
}