form.sign-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}
form.sign-content .sign-box {
  width: 350px;
  background: var(--bodyWhite);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--boxShadow);
  transition: all 0.5s;
}
form.sign-content .sign-box .add-photo {
  padding: 10px;
  margin-bottom: 10px;
}
form.sign-content .sign-box .add-photo .btn-and-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}
form.sign-content .sign-box .add-photo .btn-and-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: var(--boxShadow);
  object-fit: contain;
}
form.sign-content .sign-box .add-photo .btn-and-img svg.camera {
  cursor: pointer;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  opacity: 0.6;
  color: var(--redColor);
  transition: all 0.3s;
}
form.sign-content .sign-box .add-photo .btn-and-img svg.camera:hover {
  color: var(--mainColor);
}
form.sign-content .sign-box .input-box {
  padding: 5px 10px;
}
form.sign-content .sign-box .input-box .input {
  display: flex;
  align-items: center;
}
form.sign-content .sign-box .input-box .input label {
  width: 90px;
  color: var(--textSecondColor);
}
form.sign-content .sign-box .input-box .input input {
  flex: 1;
  padding: 7px 10px;
  border: none;
  background-color: var(--bodyColor);
  border-radius: 5px;
  border: var(--border);
  transition: 0.3s;
  caret-color: var(--redColor);
}
form.sign-content .sign-box .input-box .input input:focus {
  outline: none;
  padding-left: 13px;
}
form.sign-content .sign-box .input-box .input input:focus::placeholder {
  color: transparent;
}
form.sign-content .sign-box .input-box .input input::placeholder {
  transition: 0.3s;
}
form.sign-content .sign-box .input-box .error-alert .error {
  padding: 0;
  background-color: transparent;
  color: var(--redColor);
  font-size: 13px;
}
form.sign-content .sign-box .input-box.password {
  position: relative;
}
form.sign-content .sign-box .input-box.password .input > svg {
  position: absolute;
  right: 17px;
}
form.sign-content .sign-box .input-box.password .input > svg.fill-eye {
  color: var(--redColor);
}
form.sign-content .sign-box button {
  background: var(--redColor);
  width: 100%;
  color: var(--textColor);
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
}
form.sign-content .sign-box button:hover {
  opacity: 1;
}
form.sign-content .sign-box button:active {
  transform: scale(0.95);
}
form.sign-content .or-option {
  color: var(--textColor);
  position: relative;
}
form.sign-content .or-option span {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: var(--mainColor);
  border-radius: 50%;
  font-weight: bold;
}
form.sign-content .or-option span::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 120px;
  top: 30px;
  background-color: var(--mainColor);
}
form.sign-content .or-option span::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 120px;
  bottom: 30px;
  background-color: var(--mainColor);
}
form.sign-content .social ul {
  list-style: none;
}
form.sign-content .social ul li {
  width: 200px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
form.sign-content .social ul li:first-child {
  background-color: #4267b2;
}
form.sign-content .social ul li:last-child {
  background: #ff3d00;
}
form.sign-content .social ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form.sign-content .social ul li a i {
  margin-right: 30px;
}

@media (max-width: 767px) {
  form.sign-content {
    flex-direction: column;
    gap: 40px;
  }
  form.sign-content .sign-box {
    width: 90%;
  }
  form.sign-content .or-option span::after {
    width: 120px;
    height: 1px;
    bottom: 15px;
    left: 90px;
  }
  form.sign-content .or-option span::before {
    width: 120px;
    height: 1px;
    top: 15px;
    left: -60px;
  }
}