$mainColor: #2a5ea5;
// $mainColor: #333;
$textColor: #fff;

footer {
  grid-area: footer;
  background-color: $mainColor;
  color: $textColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
