.products-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.products-wrapper .product-item {
  box-shadow: 2px 5px 5px #c0c0c0;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
@media (max-width: 767px) {
  .products-wrapper .product-item {
    width: 100%;
  }
}
.products-wrapper .product-item img {
  max-width: 100%;
  cursor: pointer;
}
.products-wrapper .product-item .product-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #333;
}
.products-wrapper .product-item .product-desc p {
  text-transform: uppercase;
}
.products-wrapper .product-item button {
  border: none;
  font-size: 17px;
  background: #333;
  color: #fff;
  width: 100%;
  padding: 10px;
  height: 40px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.products-wrapper .product-item button:active {
  font-size: 16.7px;
}

.products-modal {
  position: relative;
  background-color: white;
  width: 80%;
  border: 2px solid #333;
  margin: 20px auto;
  padding: 20px;
}
@media (max-width: 991px) {
  .products-modal {
    width: 99%;
  }
}
.products-modal .close-icon {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.1s;
  cursor: pointer;
  font-size: 20px;
}
.products-modal .close-icon:hover {
  transform: scale(2);
  color: red;
}
.products-modal .product-info {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .products-modal .product-info {
    flex-direction: column-reverse;
  }
}
.products-modal .product-info img {
  margin-right: 30px;
  width: 300px;
  max-width: 100%;
}
.products-modal .product-info > div div:first-child {
  text-align: center;
  margin-bottom: 50px;
  color: #333;
  font-size: 30px;
}
.products-modal .product-info p {
  font-size: 20px;
  margin: 10px 0;
}