.products-wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}
.products-wrapper .product-item {
  background-color: var(--boxes-bg);
  box-shadow: 0px 1px 3px rgba(3, 0, 71, 0.09);
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  border: var(--boxes-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.products-wrapper .product-item:hover {
  box-shadow: 0px 1px 15px rgba(3, 0, 71, 0.15);
}
.products-wrapper .product-item .product-discount {
  background-color: var(--second-color);
  color: var(--main-text-color);
  transform: rotate(-45deg);
  position: absolute;
  padding: 2px;
  top: 15px;
  left: -25px;
  font-size: 12px;
  width: 100px;
}
.products-wrapper .product-item img {
  width: 200px;
  max-width: 100%;
  margin: auto;
  cursor: pointer;
  padding: var(--main-padding);
}
.products-wrapper .product-item .product-desc .title {
  color: var(--second-text-color);
  text-transform: capitalize;
  padding: var(--main-padding);
  text-align: left;
}
.products-wrapper .product-item .product-desc .price-add {
  padding: var(--main-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--second-color);
}
.products-wrapper .product-item .product-desc .price-add .add {
  border-radius: 5px;
  border: 1px solid var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s;
}
.products-wrapper .product-item .product-desc .price-add .add:active {
  transform: scale(0.93);
}
.products-wrapper .product-item .product-desc .price-add .add.add:hover {
  background-color: var(--second-color);
  color: var(--main-text-color);
}