.cart {
	margin: 20px 0;
	background-color: var(--bodyWhite);
	border-radius: 5px;
	overflow: hidden;
	box-shadow: var(--boxShadow);
	.cart-title {
		color: var(--mainColor);
		text-transform: uppercase;
		padding: 10px 0;
		span {
			padding: 10px;
			background: var(--bkRed);
			color: var(--textSecondColor);
		}
	}

	.heading {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		background-color: var(--bkRed);
		color: var(--textSecondColor);
		> div {
			width: 25%;
			text-align: center;
		}
	}

	.cart-items {
		.cart-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
			border-bottom: var(--border);
			.image {
				text-align: center;
				display: flex;
				flex-direction: column;
				gap: 10px;
				align-items: center;
				color: var(--mainColor);
				text-transform: capitalize;
				width: 25%;
				img {
					width: 70px;
					height: 70px;
					object-fit: contain;
					cursor: pointer;
				}
			}

			.price,
			.quantity,
			.remove {
				text-align: center;
				width: 25%;
				color: var(--textSecondColor);

				.icon {
					border-radius: 50%;
					border: var(--border);
					display: flex;
					background-color: var(--bodyColor);
					justify-content: center;
					align-items: center;
					width: 50px;
					height: 50px;
					margin: auto;
					svg {
						font-size: 30px;
						cursor: pointer;
						transition: all 0.3s;
						&:hover {
							transform: scale(1.1);
						}
					}
				}
				.quantity-options {
					background-color: var(--bodyColor);
					display: flex;
					justify-content: space-between;
					text-align: center;
					border-radius: 20px;
					margin: auto;
					width: 75px;
					> span {
						width: 20px;
						height: 20px;
						border-radius: 50%;
						background-color: var(--mainColor);
						text-align: center;
						color: var(--textColor);
						cursor: pointer;
						&:first-child {
							background-color: var(--bkRed);
							color: var(--textSecondColor);
						}
						&.hide {
							visibility: hidden;
						}
					}
				}
			}
		}
	}

	.cart-footer {
		.checkout-order {
			border: none;
			padding: 15px;
			width: 100%;
			font-weight: bold;
			font-size: 18px;
			letter-spacing: 1px;
			text-align: center;
			background-color: var(--redColor);
			color: var(--textColor);
		}
	}
}

@media (max-width: 767px) {
	.cart {
		.heading {
			> div {
				width: 25%;
			}
		}
		.cart-items {
			.cart-item {
				.image {
					font-size: 14px;
					width: 25%;
					img {
						width: 50px;
						height: 50px;
					}
				}
				.price,
				.quantity,
				.remove {
					width: 25%;
				}
			}
		}
	}
}

a.go-to-cart {
	width: 30px;
	height: 30px;
	position: fixed;
	top: 90px;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--bodyWhite);
	box-shadow: var(--boxShadowStrong);
	color: var(--redColor);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	svg {
		font-size: 20px;
	}
}

.checkout-modal {
	width: 300px;
	.accept-order {
		h2 {
			margin-bottom: 20px;
		}
		form {
			display: flex;
			justify-content: space-between;
			gap: 20px;
			button {
				padding: 10px 20px;
				border: none;
				background-color: var(--redColor);
				color: var(--textColor);
				transition: 0.3s;
				border-radius: 5px;
				&:hover {
					filter: brightness(1.2);
				}
			}
		}
	}
}
