.filter-wrapper {
  width: 270px;
  background-color: var(--bodyColor);
  transition: transform 0.5s, top 0.5s, left 0.5s, right 0.5s;
  position: fixed;
  left: -270px;
  top: 55px;
  z-index: 111;
  box-shadow: var(--boxShadowStrong);
}
.filter-wrapper.move {
  left: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
}
.filter-wrapper.move .filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bkBlue);
  padding: 10px;
  cursor: pointer;
}
.filter-wrapper.move .filter-title .show-icon {
  color: var(--redColor);
  font-size: 25px;
}
.filter-wrapper .hide-icon {
  position: absolute;
  cursor: pointer;
  right: -35px;
  top: 0;
  width: 35px;
  height: 35px;
  background-color: var(--bodyWhite);
  box-shadow: var(--boxShadow);
  padding: 5px;
}
.filter-wrapper .hide-icon:hover {
  transition: all 0.3s;
  color: var(--redColor);
}
.filter-wrapper .filter-content {
  overflow-y: auto;
}
.filter-wrapper .filter-content > div:not(.title):not(.arrow-to-left):not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.filter-wrapper .filter-content .title {
  color: var(--textSecondColor);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
}
.filter-wrapper .filter-content .filter-items {
  color: var(--textSecondColor);
  cursor: pointer;
  background-color: var(--bodyWhite);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  position: relative;
}
.filter-wrapper .filter-content .filter-items:hover, .filter-wrapper .filter-content .filter-items.active {
  background-color: var(--redColor);
  color: var(--textColor);
}
.filter-wrapper .filter-content .filter-by-category,
.filter-wrapper .filter-content .filter-by-order {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 10px;
}
.filter-wrapper .filter-content .filter-by-color,
.filter-wrapper .filter-content .filter-by-size {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.filter-wrapper .filter-content .filter-by-color .filter-items,
.filter-wrapper .filter-content .filter-by-size .filter-items {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 0;
}
.filter-wrapper .filter-content .filter-by-color.filter-by-color .filter-items.active, .filter-wrapper .filter-content .filter-by-color.filter-by-color .filter-items:hover,
.filter-wrapper .filter-content .filter-by-size.filter-by-color .filter-items.active,
.filter-wrapper .filter-content .filter-by-size.filter-by-color .filter-items:hover {
  outline: 1px solid var(--mainColor);
}