.filter-wrapper {
  height: fit-content;
  width: 270px;
  background-color: var(--mainColor);
  transition: all 0.5s;
  position: absolute;
  left: -270px;
  z-index: 10;
  opacity: 0.97;
  height: calc(100vh - 60px);
}
.filter-wrapper.move {
  left: 0;
  position: relative;
}
.filter-wrapper.move .arrow-to-left {
  right: 0;
}
.filter-wrapper.move .arrow-to-left svg {
  transform: rotate(180deg);
}
@media (max-width: 991px) {
  .filter-wrapper.move {
    position: absolute;
  }
}
.filter-wrapper .arrow-to-left {
  padding: 10px;
  width: fit-content;
  position: absolute;
  right: -36px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  background: var(--mainColor);
}
.filter-wrapper .arrow-to-left svg {
  fill: var(--secondColor);
  font-size: 20px;
  transition: all 0.3s;
}
.filter-wrapper .category-title,
.filter-wrapper .order-title {
  background-color: var(--mainColor);
  color: var(--textColor);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
}
.filter-wrapper .filter-content {
  position: relative;
}
.filter-wrapper .filter-content .filter-items {
  color: var(--textColor);
  cursor: pointer;
  border: 1px solid #c0c0c0;
  padding: 5px;
  transition: 0.3s;
  margin-bottom: 10px;
  position: relative;
}
.filter-wrapper .filter-content .filter-items:hover {
  color: var(--textColor);
  background-color: var(--secondColor);
}
.filter-wrapper .filter-content .filter-items.active {
  border-color: var(--secondColor);
}
.filter-wrapper .filter-content .filter-by-category {
  padding: 10px;
}
.filter-wrapper .filter-content .filter-by-order {
  padding: 10px;
}
.filter-wrapper .filter-content .create-product-btn {
  width: 80%;
  margin: auto;
  display: block;
  padding: 10px;
  background-color: var(--textColor);
  border: none;
  margin-bottom: 10px;
}
.filter-wrapper .filter-content .create-product-btn a {
  text-decoration: none;
  color: var(--mainColor);
  display: block;
  width: 100%;
}