.main-page {
  grid-area: main;
}
.main-page .container .logo {
  margin: auto;
  max-width: 100%;
  width: 340px;
}
.main-page .container .logo img {
  width: 100%;
}
.main-page .container .heading {
  color: var(--mainColor);
}