.customise-product {
	margin-top: 20px;
	background-color: var(--boxes-bg);
	padding: 10px;
	border-radius: 20px;
	box-shadow: var(--boxShadow);

	.heading {
		padding: 5px;
		color: var(--second-text-color);
		width: fit-content;
		margin: 0 auto 20px;
	}
	> div {
		margin: 10px auto;
	}
	.sizes,
	.colors {
		text-align: center;
		margin-top: 20px;
	}
	.sizes-content,
	.colors-content {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		flex-wrap: wrap;
		margin-top: 10px;
		.size-item {
			border: var(--main-border);
			padding: 5px 10px;
			cursor: pointer;
			&.active {
				background-color: var(--second-color);
				color: var(--main-text-color);
				border: none;
			}
		}
		.color-item {
			width: 40px;
			height: 40px;
			border: var(--main-border);
			border-radius: 50%;
			cursor: pointer;
			&.active {
				outline: 2px solid var(--mainColor);
			}
		}
	}
	.chosen-size-color {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		div {
			display: flex;
			justify-content: center;
			align-items: center;
			border: var(--main-border);
			padding: 5px 10px;
			span {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 10px;
				height: 40px;
				width: 40px;
				&.chosen-color {
					border-radius: 50%;
					margin-left: 5px;
					border: var(--main-border);
				}
			}
		}
	}

	.submit {
		border: none;
		width: 100%;
		padding: 10px;
		border-radius: 10px;
		background-color: var(--second-color);
		color: var(--main-text-color);
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 20px;
	}
}
