// $mainColor: #333;
$textColor: #fff;
$mainColor: #2a5ea5;

header {
  grid-area: header;
  background-color: $mainColor;
  color: $textColor;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    > p {
      font-size: 20px;
      text-transform: uppercase;
    }
    nav {
      ul {
        display: flex;
        list-style: none;
        a {
          display: block;
          text-decoration: none;
          margin-left: 10px;
          font-size: 18px;
          color: #fff;
          cursor: pointer;
          padding: 10px;
        }
        .active {
          position: relative;
          color: #e2d784;
          // font-weight: bold;
          &::after {
            content: "";
            position: absolute;
            bottom: -9px;
            border: 10px solid;
            border-color: transparent transparent white transparent;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}
