// $mainColor: #333;
$textColor: #fff;
$mainColor: #2a5ea5;

header {
  grid-area: header;
  background-color: $mainColor;
  color: $textColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
}
