// $mainColor: #3a6b34;
$mainColor: #333;

// $mainColor: #2a5ea5;

.orders {
  margin: 20px auto;

  .no-orders-msg {
    text-align: center;
    color: $mainColor;
  }

  .alert-delete-msg {
    border: 1px solid #c0c0c0;
    color: green;
    padding: 10px;
    width: fit-content;
    margin: 10px auto 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px #333;
    overflow: scroll;
    // td,
    // th {
    //   width: fit-content;
    // }
    thead {
      background-color: $mainColor;
      color: #fff;
      th {
        text-align: left;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px;
      }
    }
    tbody {
      width: 100%;
      tr {
        width: 100%;
        padding: 10px;
        &:nth-child(odd) {
          background-color: #e2e2e26c;
        }
        td {
          padding: 5px;
          &.number-order {
            text-align: center;
            font-size: 20px;
          }
          &.details {
            width: 500px;
            span {
              display: flex;
              flex-wrap: wrap;
              div {
                width: fit-content;
                display: flex;
                // background-color: green;
                border: 1px solid #c0c0c0;
                color: #333;
                box-shadow: 2px 2px 5px #c0c0c0;
                margin: 2px;
                padding: 10px;
                text-align: center;
              }
            }
          }
          &.show-more-order,
          &.edit-order,
          &.delete-order {
            width: 200px;
            button {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              background-color: transparent;
              border: none;
              color: $mainColor;
              font-size: 30px;
              font-weight: bold;
              cursor: pointer;
              transition: 0.3s;
              &:focus {
                transform: scale(0.91);
              }
            }
          }
          &.show-more-order {
            button:hover {
              transform: scale(1.05);
              color: rgb(49, 49, 145);
            }
          }
          &.edit-order {
            button:hover {
              transform: scale(1.05);
              color: rgb(6, 204, 6);
            }
          }
          &.delete-order {
            button:hover {
              transform: scale(1.05);
              color: red;
            }
          }
        }
      }
    }
  }
}
