.orders {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;

	.heading {
		display: flex;
		margin-bottom: 20px;
		color: var(--textSecondColor);
		font-size: 20px;
		.head-item {
			width: 25%;
			padding: var(--padding) 20px;
			text-align: center;
		}
	}

	.order-information {
		.main-order {
			display: flex;
			align-items: center;
			background-color: var(--bodyWhite);
			box-shadow: var(--boxShadow);
			// border-radius: 20px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			> div {
				width: 25%;
				padding: 20px;
				font-size: 17px;
				text-align: center;
				&.edit-arrow {
					svg {
						color: var(--redColor);
						transition: all 0.3s;
						transform: rotate(90deg);
					}
				}
				svg {
					font-size: 20px;
					transition: all 0.3s;
				}
				&.show-more,
				&.delete {
					cursor: pointer;
					&:hover {
						svg {
							fill: var(--redColor);
						}
					}
				}
			}
		}

		.order-details {
			transition: height 0.4s, opacity 0.4s;
			height: 0;
			opacity: 0;
			overflow: hidden;
			margin-bottom: 10px;
			&.show {
				opacity: 1;
				background-color: var(--bodyWhite);
				box-shadow: var(--boxShadow);
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
			.order-items {
				padding: var(--padding);
				display: flex;
				flex-direction: column;
				gap: 10px;
				.order-item {
					background: var(--bodyColor);
					box-shadow: var(--boxShadow);
					padding: 5px;
					display: flex;
					align-items: center;
					> div {
						width: 25%;
						text-align: center;
					}
					.img-item {
						img {
							width: 50px;
							height: 50px;
							object-fit: contain;
						}
					}
					.delete {
						cursor: pointer;
						span {
							color: var(--textColor);
							background-color: var(--redColor);
							padding: 5px;
							width: 50%;
						}
					}
					.quantity {
						span {
							border: 1px solid var(--redColor);
							padding: 3px 5px;
						}
					}
				}
			}
		}
	}

	.no-orders-msg {
		text-align: center;
		color: var(--mainColor);
	}
}
