.orders-filter {
  border-radius: 10px;
  background-color: var(--main-light-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto 10px;
  box-shadow: var(--boxShadow);
  overflow: hidden;
}
.orders-filter .item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orders-filter .item:not(:last-child) {
  border-right: var(--main-border);
}
.orders-filter .item:hover {
  transition: 0.3s;
  font-weight: bold;
}
.orders-filter .All.active {
  color: var(--second-text-color);
}
.orders-filter .Pending.active {
  color: #d4b039;
}
.orders-filter .Cancelled.active {
  color: #ac3939;
}
.orders-filter .Delivered.active {
  color: green;
}
.orders-filter .All,
.orders-filter .Cancelled,
.orders-filter .Pending,
.orders-filter .Delivered {
  color: var(--second-text-color);
}
.orders-filter .All.active,
.orders-filter .Cancelled.active,
.orders-filter .Pending.active,
.orders-filter .Delivered.active {
  transition: 0.3s;
  font-weight: bold;
  font-family: cursive;
}