.cart {
  margin: 20px 0;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--boxShadow);
}
.cart .cart-title {
  color: var(--mainColor);
  text-transform: uppercase;
  padding: 10px 0;
}
.cart .cart-title span {
  padding: 10px;
  background: var(--bkRed);
  color: var(--textSecondColor);
}
.cart .heading {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--bkRed);
  color: var(--textSecondColor);
}
.cart .heading > div {
  width: 150px;
  text-align: center;
}
.cart .cart-items .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #c0c0c0;
}
.cart .cart-items .cart-item .image {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: var(--mainColor);
  text-transform: capitalize;
  width: 150px;
}
.cart .cart-items .cart-item .image img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  cursor: pointer;
}
.cart .cart-items .cart-item .price,
.cart .cart-items .cart-item .quantity,
.cart .cart-items .cart-item .remove {
  text-align: center;
  width: 150px;
}
.cart .cart-items .cart-item .price svg,
.cart .cart-items .cart-item .quantity svg,
.cart .cart-items .cart-item .remove svg {
  color: var(--redColor);
  font-size: 23px;
  cursor: pointer;
  transition: all 0.3s;
}
.cart .cart-items .cart-item .price svg:hover,
.cart .cart-items .cart-item .quantity svg:hover,
.cart .cart-items .cart-item .remove svg:hover {
  color: red;
}
.cart .cart-items .cart-item .price .quantity-options,
.cart .cart-items .cart-item .quantity .quantity-options,
.cart .cart-items .cart-item .remove .quantity-options {
  background-color: var(--bodyColor);
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  width: 75px;
}
.cart .cart-items .cart-item .price .quantity-options > span,
.cart .cart-items .cart-item .quantity .quantity-options > span,
.cart .cart-items .cart-item .remove .quantity-options > span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--mainColor);
  text-align: center;
  color: var(--textColor);
  cursor: pointer;
}
.cart .cart-items .cart-item .price .quantity-options > span:first-child,
.cart .cart-items .cart-item .quantity .quantity-options > span:first-child,
.cart .cart-items .cart-item .remove .quantity-options > span:first-child {
  background-color: var(--bkRed);
  color: var(--textSecondColor);
}
.cart .cart-items .cart-item .price .quantity-options > span.hide,
.cart .cart-items .cart-item .quantity .quantity-options > span.hide,
.cart .cart-items .cart-item .remove .quantity-options > span.hide {
  visibility: hidden;
}
.cart .cart-footer .checkout-order {
  border: none;
  padding: 15px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  background-color: var(--redColor);
  color: var(--textColor);
}

@media (max-width: 767px) {
  .cart .heading > div {
    width: 80px;
  }
  .cart .cart-items .cart-item .image {
    font-size: 14px;
    width: 80px;
  }
  .cart .cart-items .cart-item .image img {
    width: 50px;
    height: 50px;
  }
  .cart .cart-items .cart-item .price,
.cart .cart-items .cart-item .quantity,
.cart .cart-items .cart-item .remove {
    width: 80px;
  }
}
.checkout-modal {
  width: 300px;
}
.checkout-modal .accept-order h2 {
  margin-bottom: 20px;
}
.checkout-modal .accept-order form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.checkout-modal .accept-order form button {
  padding: 10px 20px;
  border: none;
  background-color: var(--redColor);
  color: var(--textColor);
  transition: 0.3s;
  border-radius: 5px;
}
.checkout-modal .accept-order form button:hover {
  filter: brightness(1.2);
}

@media (max-width: 767px) {
  .cart-modal {
    flex-direction: column-reverse;
    width: 85%;
  }
}
.cart-modal .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  padding: 0 10px;
  color: var(--mainColor);
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
.cart-modal .order-content {
  width: 90%;
}
.cart-modal .order-content .alert-success {
  text-align: center;
  background-color: green;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
}
.cart-modal .order-content .order-info table {
  border: 1px solid #c0c0c0;
  width: 100%;
}
.cart-modal .order-content .order-info table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c0c0c0;
}
@media (max-width: 768px) {
  .cart-modal .order-content .order-info table tr {
    flex-direction: column;
  }
}
.cart-modal .order-content .order-info table tr:last-child {
  border-bottom: none;
}
.cart-modal .order-content .order-info table tr td {
  padding: 10px;
}
.cart-modal .order-content .order-info table tr td.products-info p {
  border: 1px solid #c0c0c0;
  margin-bottom: 4px;
  box-shadow: 2px 2px 2px #c0c0c0;
  padding: 5px;
}