.cart {
  grid-area: main;
  margin: 20px auto;
  background-color: var(--bodyWhite);
  border-radius: 20px;
  box-shadow: var(--boxShadow);
  height: fit-content;
}
.cart.container {
  padding: 0;
}
.cart .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--bkBlue);
  color: var(--textSecondColor);
}
.cart .heading > div {
  width: 25%;
  text-align: center;
}
.cart .cart-items .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: var(--border);
}
.cart .cart-items .cart-item .image {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: var(--mainColor);
  text-transform: capitalize;
  width: 25%;
}
.cart .cart-items .cart-item .image img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  cursor: pointer;
}
.cart .cart-items .cart-item .image h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.cart .cart-items .cart-item .image h5 .color {
  display: inline-block;
  border: var(--border);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.cart .cart-items .cart-item .price,
.cart .cart-items .cart-item .quantity,
.cart .cart-items .cart-item .remove {
  text-align: center;
  width: 25%;
  color: var(--textSecondColor);
}
.cart .cart-items .cart-item .price .discount,
.cart .cart-items .cart-item .quantity .discount,
.cart .cart-items .cart-item .remove .discount {
  margin: auto;
}
.cart .cart-items .cart-item .price .icon,
.cart .cart-items .cart-item .quantity .icon,
.cart .cart-items .cart-item .remove .icon {
  border-radius: 50%;
  border: var(--border);
  display: flex;
  background-color: var(--bodyColor);
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: auto;
}
.cart .cart-items .cart-item .price .icon svg,
.cart .cart-items .cart-item .quantity .icon svg,
.cart .cart-items .cart-item .remove .icon svg {
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
.cart .cart-items .cart-item .price .icon svg:hover,
.cart .cart-items .cart-item .quantity .icon svg:hover,
.cart .cart-items .cart-item .remove .icon svg:hover {
  transform: scale(1.1);
}
.cart .cart-items .cart-item .price .quantity-options,
.cart .cart-items .cart-item .quantity .quantity-options,
.cart .cart-items .cart-item .remove .quantity-options {
  background-color: var(--bodyColor);
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  width: 75px;
}
.cart .cart-items .cart-item .price .quantity-options > span,
.cart .cart-items .cart-item .quantity .quantity-options > span,
.cart .cart-items .cart-item .remove .quantity-options > span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  cursor: pointer;
}
.cart .cart-items .cart-item .price .quantity-options > span:first-child,
.cart .cart-items .cart-item .quantity .quantity-options > span:first-child,
.cart .cart-items .cart-item .remove .quantity-options > span:first-child {
  background-color: var(--redColor);
  color: var(--textColor);
}
.cart .cart-items .cart-item .price .quantity-options > span.hide,
.cart .cart-items .cart-item .quantity .quantity-options > span.hide,
.cart .cart-items .cart-item .remove .quantity-options > span.hide {
  visibility: hidden;
}
.cart .cart-footer .checkout-order {
  border: none;
  padding: 15px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  background-color: var(--redColor);
  color: var(--textColor);
}
.cart .cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.cart .cart-empty a {
  color: var(--textColor);
  background-color: var(--redColor);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}
.cart .cart-empty img {
  width: 60%;
}

@media (max-width: 767px) {
  .cart .heading {
    padding: 5px 0;
  }
  .cart .heading > div {
    width: 25%;
  }
  .cart .cart-items .cart-item {
    padding: 10px 0;
  }
  .cart .cart-items .cart-item .image {
    font-size: 14px;
    width: 25%;
  }
  .cart .cart-items .cart-item .image img {
    width: 50px;
    height: 50px;
  }
  .cart .cart-items .cart-item .price,
.cart .cart-items .cart-item .quantity,
.cart .cart-items .cart-item .remove {
    width: 25%;
  }
  .cart .cart-items .cart-item .price .icon,
.cart .cart-items .cart-item .quantity .icon,
.cart .cart-items .cart-item .remove .icon {
    width: 30px;
    height: 30px;
  }
  .cart .cart-items .cart-item .price .icon svg,
.cart .cart-items .cart-item .quantity .icon svg,
.cart .cart-items .cart-item .remove .icon svg {
    font-size: 17px;
  }
  .cart .cart-items .cart-item .price .quantity-options,
.cart .cart-items .cart-item .quantity .quantity-options,
.cart .cart-items .cart-item .remove .quantity-options {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .checkout-modal {
    width: 90%;
  }
}
.checkout-modal .accept-order h2 {
  margin-bottom: 20px;
}
.checkout-modal .accept-order form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.checkout-modal .accept-order form .input-box input {
  width: 100%;
  border: none;
  padding: 10px;
  transition: 0.3s;
  border: var(--border);
  color: var(--textSecondColor);
}
.checkout-modal .accept-order form .input-box input:hover, .checkout-modal .accept-order form .input-box input:focus {
  border-radius: 10px;
}
.checkout-modal .accept-order form .input-box input:focus {
  outline: none;
  padding-left: 15px;
}
.checkout-modal .accept-order form .input-box input:focus::placeholder {
  transition: 0.3s;
  color: transparent;
}
.checkout-modal .accept-order form .input-box .error {
  padding: 0 10px;
}
.checkout-modal .accept-order form .submit {
  display: flex;
  gap: 10px;
}
.checkout-modal .accept-order form .submit button {
  width: 50%;
  padding: 10px 20px;
  border: none;
  background-color: var(--redColor);
  color: var(--textColor);
  transition: 0.3s;
  border-radius: 5px;
}
.checkout-modal .accept-order form .submit button:hover {
  filter: brightness(1.2);
}