.products-wrapper {
	margin-top: 70px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 15px;
	.product-item {
		background-color: #fff;
		box-shadow: 0px 1px 3px rgb(3 0 71 / 9%);
		overflow: hidden;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&:hover {
			box-shadow: 0px 1px 15px rgb(3 0 71 / 9%);
		}

		img {
			width: 200px;
			max-width: 100%;
			margin: auto;
			cursor: pointer;
			padding: var(--padding);
		}
		.product-desc {
			> div {
				color: var(--textSecondColor);
				text-transform: capitalize;
				padding: var(--padding);
				text-align: left;
			}
			p {
				padding: var(--padding);
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: var(--redColor);
				span {
					border-radius: 5px;
					border: 1px solid var(--redColor);
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					padding: 5px;
					transition: all 0.3s;
					&:active {
						transform: scale(0.93);
					}
				}
			}
		}
	}
}

.product-modal {
	.close-icon {
		position: absolute;
		top: 10px;
		right: 10px;
		border: 1px solid #c0c0c0;
		border-radius: 4px;
		padding: 0 10px;
		color: var(--mainColor);
		font-size: 17px;
		font-weight: bold;
		cursor: pointer;
	}
	.main-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;

		.product-info {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			gap: 20px;

			img {
				width: 200px;
				height: 200px;
				max-width: 100%;
				border-radius: 50%;
				object-fit: contain;
				box-shadow: var(--boxShadow);
			}
			.product-info-details {
				flex: 1;
				.title {
					width: fit-content;
					margin: 0 auto 10px;
					border-bottom: var(--border);
					padding: 0 10px 10px;
				}
				.desc,
				.price,
				.category {
					margin: 5px auto;
					> div {
						border: var(--border);
						border-radius: 10px;
						padding: 7px 10px;
						margin-top: 5px;
					}
				}
			}
		}
		.modal-options {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			gap: 10px;
			button {
				width: 180px;
				border: none;
				padding: 10px;
				font-size: 17px;
				color: var(--textColor);
				border-radius: 4px;
				transition: all 0.3s;
				&:hover {
					filter: brightness(1.2);
				}
			}
			.close {
				background-color: var(--mainColor);
			}
			.delete {
				background-color: rgb(255, 39, 39);
			}
			.add {
				background-color: rgb(63, 63, 228);
			}
		}
	}
}

@media (max-width: 767px) {
	.product-modal {
		width: 80%;
		.main-content {
			justify-content: center;
			gap: 10px;
			.product-info {
				flex-direction: column;
				img {
					width: 100px;
					height: 100px;
				}
			}
			.modal-options {
				flex-direction: column;
				justify-content: center;
				gap: 5px;
			}
		}
	}
}
