.products-wrapper {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 15px;
	.product-item {
		background-color: var(--bodyWhite);
		box-shadow: 0px 1px 3px rgb(3 0 71 / 9%);
		overflow: hidden;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&:hover {
			box-shadow: 0px 1px 15px rgb(3 0 71 / 9%);
		}

		img {
			width: 200px;
			max-width: 100%;
			margin: auto;
			cursor: pointer;
			padding: var(--padding);
		}
		.product-desc {
			> div {
				color: var(--textSecondColor);
				text-transform: capitalize;
				padding: var(--padding);
				text-align: left;
			}
			p {
				padding: var(--padding);
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: var(--redColor);
				span {
					border-radius: 5px;
					border: 1px solid var(--redColor);
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					padding: 5px;
					transition: all 0.3s;
					&:active {
						transform: scale(0.93);
					}
					&:hover {
						background-color: var(--redColor);
						color: var(--textColor);
					}
				}
			}
		}
	}
}
